<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h1>Przedmioty</h1>
        <h2>Dodaj przedmiot</h2>
        <div>
          <form (submit)="addSubject()">
            <div class="form-group">
              <label for="name">Nazwa przedmiotu</label>
              <input type="text" class="form-control" name="name" placeholder="wpisz nazwe" [(ngModel)]="newSubject.name">
            </div>
            <!-- <div class="form-group">
              <label for="numberGroups">liczba grup</label>
              <select class="form-control" name="numberGroups" [(ngModel)]="numberGroups">
                <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">{{ number }}</option>
              </select>
            </div> -->
            <button type="button" class="btn btn-default" (click)="addGroup()">+</button>
            <div *ngFor="let index of newSubject.groups">
              <div class="form-group">
                  <label for="groupIndex{{index}}">grupa</label>
                  <input type="text" class="form-control" name="groupIndex{{index}}" placeholder="wpisz grupe" [(ngModel)]="index.group">
              </div>
              <div class="form-group">
                  <label for="courseType{{index}}">typ zajec</label>
                  <input type="text" class="form-control" name="courseType{{index}}" placeholder="wpisz rodzaj" [(ngModel)]="index.coursetype">
              </div>
              <div class="form-group">
                  <label for="teacher{{index}}">prowadzacy</label>
                  <input type="text" class="form-control" name="teacher{{index}}" placeholder="nazwisko prowadzacego" [(ngModel)]="index.teacher">
              </div>
              <div class="form-group">
                  <label for="maxParticipants{{index}}">liczba uczestnikow</label>
                  <input type="text" class="form-control" name="maxParticipants{{index}}" placeholder="liczba uczestnikow" [(ngModel)]="index.maxparticipants">
              </div>
              <hr/>
            </div>
            <button type="submit" class="btn btn-default">Dodaj przedmiot</button>
          </form>
        </div>
        <div>
          <h2>Lista przedmiotów</h2>
          <div *ngFor="let subject of subjects">
            <h3>{{ subject.name }}</h3>
            <button type="button" class="btn btn-default" (click)="deleteElement(subject)">usuń</button>
            <div *ngFor="let course of subject.courses">
              <h4>Grupa {{ course.group }}</h4>
              <button type="button" class="btn btn-default" (click)="deleteCourse(course)">usuń</button>
              <a>prowadzacy : {{ course.teacher }} | typ zajec : {{ course.coursetype }} | liczba uczestnikow : {{ course.maxparticipants }}</a>
            </div>
            <hr/>
          </div>
        </div>
      </div>
        <div>
        <h1>Zapisy</h1>
          <form (submit)="finishEnrollment()">
            <button type="submit" class="btn btn-default">Zakończ zapisy</button>
          </form>
          {{enrollResponse}}
      </div>
    </div>
</div>
